<header class="header-main">
  <h2>FREELANCE PORTFOLIO</h2>
  <label for="menu" class="btn-burger">
      <span>Menu</span> 
      <i class="fa-solid fa-bars-staggered"></i>
  </label>
  <input type="checkbox" id="menu" hidden>
  <nav id="nav-bar" class="nav-bar">
      <ul>
          <li><a href="/" class="link-portfolio active">INTRO</a></li>
          <li><a href="/portfolio">PORTFOLIO</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <!-- <li><a href="" class="btn-register">Registrar</a></li>
          <li><a href="" class="btn-login">Login</a></li> -->
      </ul>
  </nav>
</header>