<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main class="home">
                <section class="section-about scroll-m-top" id="about">
                    <h2>ABOUT</h2>
                    <div class="star-lines-container">
                        <span class="line"></span>
                        <i class="fa-solid fa-star star"></i>
                        <span class="line"></span>
                    </div>
                    <div class="paragraph-container">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptate delectus animi
                            rerum, impedit deserunt commodi consequatur. Eveniet aliquid nihil distinctio, dolore at
                            necessitatibus tempore?</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit ea tenetur consequatur
                            voluptatem, soluta harum voluptas, reiciendis officiis, illo minima nihil aliquam totam ut
                            voluptatibus!</p>
                    </div>
                    <div class="btn-download">
                        <i class="fa-solid fa-download download"></i>
                        <p>Download Now!</p>
                    </div>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>