<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main class="home">

                <section class="section-portfolio scroll-m-top" id="portfolio">
                    <h2>PORTFOLIO</h2>
                    <div class="star-lines-container">
                        <span class="line"></span>
                        <i class="fa-solid fa-star star"></i>
                        <span class="line"></span>
                    </div>
                    <section class="section-images">
                        <figure>
                            <img src="images/casa.jpeg" alt="">
                        </figure>
                        <figure>
                            <img src="images/porcion.jpeg" alt="">
                        </figure>
                        <figure>
                            <img src="images/circo.jpeg" alt="">
                        </figure>
                        <figure>
                            <img src="images/joystick.jpeg" alt="">
                        </figure>
                        <figure>
                            <img src="images/caja-fuerte.jpeg" alt="">
                        </figure>
                        <figure>
                            <img src="images/submarino.jpeg" alt="">
                        </figure>
                    </section>
                </section>

            </main>

            <%- include('./partials/footer') %>
    </body>

</html>